**/.DS_Store
.firebase
dist
node_modules
/*.zip
.yarn/*

scraper/Extreme Banners/

scraper/Songs/

scraper/extreme_out\.json

scraper/acedb\.xml

scraper/error\.txt

scraper/masterlist\.csv

cocoadraw/*
