**/.DS_Store
.firebase
dist
node_modules
/*.zip
.editorconfig

scraper/Extreme Banners/

scraper/Songs/

scraper/extreme_out\.json

scraper/acedb\.xml

scraper/error\.txt

scraper/masterlist\.csv

cocoadraw/*

.yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions